<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> 

<h2>Trabajadores Asignados</h2>

<% @project.workers.each do |worker|%>
 <p> <%= worker.name %>
  <%= link_to 'Remover', worker_assignment_path(worker,@project), method: :delete %></p>
<% end %>

<h2>Asignar Trabajador</h2>

<%= form_with(model: [@project, Assignment.new]) do |f| %>
<%= f.collection_select("worker_id", Worker.all, :id, :name)%>
<%= f.submit 'Agregar' %>
<% end %>

<%= link_to 'Back', projects_path %>
